.brandsContainer {
  padding: 5rem 0;
  background-color: white;
  width: 100%;
  text-align: center;
}

.title {
  color: #192C78;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
}

@media(prefers-color-scheme: dark) {
  .title {
    color: white;
  }
  .brandsContainer {
    background-color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #4c6ef8;
  }

  .logo {
    filter: brightness(0) invert(0.6);
  }
}
