.brandsContainer {
  padding: 5rem 0;
  background-color: white;
  width: 100%;
  text-align: center;
}

.title {
  color: #192C78;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
}

@media(prefers-color-scheme: dark) {
  .title {
    color: white;
  }
  .brandsContainer {
    background-color: #1c1c1c;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background: #181818;
  }

  .subtitle::before {
    background: #2c55ff;
  }

  .iconWrapper {
    background: #1e1e1e;
    box-shadow: 0 2px 8px rgba(255,255,255,0.1);
  }

  .cardDescription {
    color: #ccc;
  }
}