.aboutUsContainer {
  display: flex;
  padding: clamp(2rem, 5vw, 6rem);
  background: linear-gradient(90deg, var(--color-primary) 0%, #3f519d 100%);
  color: var(--color-white);
  height: 110vh;
}

.leftContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rightContent {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 1084px) {
  .aboutUsContainer {
    align-items: center;
  }
  .image {
    display: none;
  }
  .rightContent {
    flex: 0;
  }
}

@media (max-width: 420px) {
  .aboutUsContainer {
    display: block;
  }
}


.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

.subtitle {
  position: relative;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #f0f0f0;
}

.content { 
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
}

.button { 
 border: solid 1px;
 border-color: var(--color-accent-alt);
 border-radius: 20px;
 color: var(--color-accent-alt);
 max-width: 200px;
 text-align: center;
 padding: 10px;
 transition: all 0.3s ease-in-out;
 margin-top: 1rem;
}

.button:hover {
  background-color: var(--color-accent-alt);
  color: var(--color-primary);
}
