.servicesContainer {
  padding: 5rem 2rem;
  background: var(--color-bg-lighter);
  width: 100%;
}

.header {
  margin-bottom: 4rem;
}

.subtitle {
  position: relative;
  padding-left: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: var(--color-border);
}

.highlight {
  color: transparent;
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas hasta 1100px */
  gap: 2rem; /* Espaciado entre las cards */
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: full;
  min-height: 500px;
  background: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 4px 12px var(--color-shadow);
  padding-block: 4rem;
  margin-inline: 3rem;
  transition: transform 0.3s;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 100%; 
}

.card:hover {
  transform: translateY(-5px);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0 2px 8px var(--color-shadow);
  background: var(--color-white);
  margin-bottom: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}

.icon {
  color: var(--color-primary);
}

.cardTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.cardDescriptionContainer {
  display: flex;
  justify-content: center;
}

.cardDescription {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: auto;
  margin-inline: 2rem;
  color: var(--color-gray);
}

@media (max-width: 1110px) {
  .cardDescription {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.cardButton {
  padding: 0.5rem 1rem;
  border: var(--color-primary) solid 1px;
  background: transparent;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 1110px) {
  .cardTitle {
    font-size: 1.4rem;
  }

  .cardButton {
    font-size: 1rem;
    padding-inline: 1rem;
  }
}

.cardButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card:nth-child(2) .iconWrapper {
  background: #192C78;
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);
}

.card:nth-child(2) .icon {
  color: white;
}

.card:nth-child(2) .cardButton {
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);  
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.5s;
  background-size: 150% auto;
}

.card:nth-child(2) .cardButton:hover {
  background-position: right center; /* change the direction of the change here */
}

@media (max-width: 1100px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas más pequeñas */
    justify-items: center; /* Centra las cards horizontalmente */
  }

  .card {
    width: 90%; /* Asegura que las cards no ocupen todo el ancho */
    margin-inline: auto; /* Centra las cards horizontalmente */
  }
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas más pequeñas */
  }

  .card {
    width: 100%; /* Ocupa todo el ancho disponible */
    
  }
}

@media (min-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
