.servicesContainer {
  padding: 5rem 2rem;
  background: var(--color-bg-lighter);
  width: 100%;
}

.header {
  margin-bottom: 4rem;
}

.subtitle {
  position: relative;
  padding-left: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: var(--color-border);
}


.highlight {
  color: transparent;
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.card {
  background: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 4px 12px var(--color-shadow);
  padding: 2rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.iconWrapper {
  background: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 8px var(--color-shadow);
  margin-bottom: 1rem;
}

.icon {
  color: var(--color-primary);
}

.cardTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.cardDescription {
  font-size: 0.95rem;
  margin-bottom: 3rem;
  color: var(--color-gray);
}

.cardButton {
  padding: 0.5rem 1rem;
  border: var(--color-primary) solid 1px;
  background: transparent;
  color: var(--color-primary);
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.cardButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card:nth-child(2) .iconWrapper {
  background: #192C78;
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);
}

.card:nth-child(2) {
  grid-row: span 2;
}

.card:nth-child(2) .icon {
  color: white;
}

.card:nth-child(2) .cardButton {
  background: linear-gradient(90deg, rgba(25, 44, 120, 1) 0%, rgba(32, 72, 232, 1) 100%);  
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.5s;
  background-size: 150% auto;
}

.card:nth-child(2) .cardButton:hover {
  background-position: right center; /* change the direction of the change here */
}

@media (max-width: 768px) {
  .card {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
