.achievementsContainer {
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
  color: var(--color-primary-dark);
}

.countContainer {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.animatedNumber {
  font-size: 64px;
}

.animatedNumber::before {
  content: "+";
  left: -1.5rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .achievementContainer {
    min-height: auto;
    padding: 3rem 1rem;
    margin-bottom: 3rem;
  }

  .countContainer {
    flex-direction: column;
    gap: 1.5rem;
  }

  .achievement {
    width: 100%;
  }
}
