.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 6rem;
  background: linear-gradient(190deg, #0D1D59 0%, var(--color-primary) 100%);
  flex-wrap: wrap;
  color: var(--color-white);
}

.leftContent,
.rightContent {
  flex: 1;
  min-width: 300px;
}

.subtitle {
  position: relative;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #f0f0f0;
}

.contentContainer {
  padding-top: 50px;
}

.content { 
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  border-radius: 20px;
  background: var(--color-white);
  padding: 3rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.formContainer label {
  margin-top: 30px;
}

.formContainer h1 {
  color: var(--color-primary);
  font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
}

.formContainer input {
  min-height: 41px;
}

.formContainer textarea {
  min-height: 130px;
  resize: none;
}

.formContainer input,
.formContainer textarea {
  border: 0px;
  border-radius: 10px;
  background-color: var(--color-bg-lighter);
  width: 100%;
  box-sizing: border-box;
  color: var(--color-black);
  margin-top: 10px;
  padding: 1rem;
  font-size: 1rem;
}

.formContainer label {
  font-weight: 700;
  font-size: 1.2rem;
}

.button {
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 10px;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  gap: 1rem;
}
.sendIcon {
  position: absolute;
  right: 1rem;
  opacity: 0;
  transform: translateX(10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: white;
  pointer-events: none;
}

.button:hover {
  background: linear-gradient(90deg, var(--color-black) 0%, var(--color-primary) 100%);
  color: var(--color-white);
  padding-right: 2.5rem;
}

.button:hover .sendIcon {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    padding: 2rem;
  }

  .leftContent,
  .rightContent {
    width: 100%;
  }

  .formContainer {
    padding: 2rem;
    width: min(100%, 600px);
  }

  .content {
    font-size: 1.5rem;
  }
}
