.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 6rem;
  background: linear-gradient(190deg, #0D1D59 0%, #1D3DBF 100%);
  flex-wrap: wrap;
}

.leftContent,
.rightContent {
  flex: 1;
  min-width: 300px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
}

.highlight {
  color: #00f9ff;
}

.subtitle {
  position: relative;
  padding-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #f0f0f0;
}

.contentContainer {
  padding-top: 50px;
}

.content { 
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 20px;
  background: white;
  padding: 3rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.formContainer label {
  margin-top: 30px;
}

.formContainer h1 {
  color: #192C78;
}

.formContainer input {
  min-height: 41px;
}

.formContainer textarea {
  min-height: 130px;
  resize: none;
}

.formContainer input,
.formContainer textarea {
  border: 0px;
  border-radius: 10px;
  background-color: #F4F4F4;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  margin-top: 10px;
  padding: 1rem;
  font-size: 1rem;
}

.formContainer label {
  font-weight: 700;
  font-size: 1.2rem;
}

.button {
  border: solid 1px;
  border-color: #192C78;
  color: #192C78;
  background-color: white;
  border-radius: 10px;
  align-self: center;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.button:hover {
  background-color: #192C78;
  color: white;
}

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    padding: 2rem;
  }

  .leftContent,
  .rightContent {
    width: 100%;
  }

  .formContainer {
    min-width: 100%;
    padding: 2rem;
  }

  .content {
    font-size: 1.5rem;
  }
}
